node_modules
dist/
lib/
build
# swarm.key

# Runtime data
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# OS X temporary files
.DS_Store


### VisualStudioCode ###
.vscode

#jetbraines
.idea

### Linux ###
*~

# Output of 'npm pack'
*.tgz

# Logs
*.log
npm-debug.log*

coverage/

.npmrc

.item/

.env.*

.npmrc